{{!-- <body class="hold-transition layout-top-nav"></body> --}}
<div class="wrapper">

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark"> EditaTuGuía <small></small></h1>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Alcance del proyecto</h5>

                <p class="card-text">
                  El programa de "Gestión de guías de laboratorio" es un software diseñado para facilitar el ingreso y manejo de diferentes guías de laboratorio. El software permite ingresar guías de laboratorio según el formato Word y organizarlas por grupos.

El ingreso de datos se realiza de manera sencilla a través de un formulario, donde se pueden ingresar los detalles de cada guía, como nombre, formato y grupo al que pertenece. Además, el programa proporciona la funcionalidad de graficar los resultados de las guías cuando sea necesario, permitiendo una visualización más clara y efectiva de los datos obtenidos.<br>
<br><img src="/img/libro.jpg"width="200" height="150""display: block; margin-left: auto; margin-right: auto;">

                </p>

                <a href="/" class="card-link">Más info</a>

              </div>
            </div>
            

            
          

          
              </div>
            </div>
          </div>
          <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
    <div class="p-3">
      <h5>Title</h5>
      <p>Sidebar cossssntent</p>
    </div>
  </aside>
  <!-- /.control-sidebar -->


</div>
<!-- ./wrapper -->

