  <!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
      <img src="/img/libro.jpg" alt="Logo" class="brand-image img-circle elevation-3"
           style="opacity: .9">
      <span class="brand-text font-weight-light">EditaTuGuía</span>
    </a>

    <!-- Sidebar -->
<div class="sidebar">
  <!-- Sidebar user panel (optional) -->
  <div class="user-panel mt-3 pb-3 mb-3 d-flex">
    <div class="image">
      <img src="/img/user.png" class="img-circle elevation-2" alt="User Image">
    </div>
    <div class="info">
      <a href="#" class="d-block">{{user.name}}</a>
    </div>
  </div>
  <!-- Resto del contenido de la barra lateral -->
</div>


        </div>
      </div> 

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->

        
        {{#if user}}    
            <li class="nav-item has-treeview menu-open">
                <a href="#" class="nav-link active">
                   <i class="nav-icon fas fa-book"></i>
                    <p>
                        PANEL 1
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/home" class="nav-link active">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Agregar GUIA</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Acerca del proyecto</p>
                        </a>
                    </li>
                </ul>
            </li>
            
          
                    
                    
        
            
        
            <li class="nav-item">
                <a href="/users/logout" class="nav-link">
                    <i class="fa fa-times-circle-o"></i>
                    <p>Salir</p>
                </a>
            </li>

        {{else}}
            <li class="nav-item has-treeview menu-open">
                <a href="#" class="nav-link active">
                    <i class="nav-icon fas fa-user-circle"></i>
                    <p>
                        Usuario
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/users/signin" class="nav-link active">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Ingresar</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/users/signup" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Registrar</p>
                        </a>
                    </li>

<style>
.logout-button {
  color: #fff;
  background-color: #dc3545;
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
}

.logout-button:hover {
  background-color: #c82333;
}
</style>

<li class="nav-item">
  <a href="/users/logout" class="logout-button">Logout</a>
</li>

            
                </ul>
            </li>
        
        {{/if}}

        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

